{% load  static %}
<!DOCTYPE html>
  <head>
  <title>{% block title %}DelfiSpace - Home{% endblock %}</title>
  <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

{% include 'home/navbar.html' %}
{% include 'home/messages.html' %}
<body>

{%block content%}

<div class="container my-5">
  <h1 class="text-center mb-4">Delfi Space - TU Delft SpaceOps</h1>


<div style="display: flex; flex-direction: row; flex-wrap: wrap;
justify-content: center;">

  <div class="card" style="width: 18rem; margin: 10px">
    <img src="https://pbs.twimg.com/media/EY5TTgeWoAEittJ?format=jpg&name=large" class="card-img-top"
    style = "max-width: 100%; max-height: 46.4%;">
    <div class="card-body">
        <h5 class="card-title" style="color:Gray">Delfi Space</h5>
        <p class="card-text"> Status: Ongoing Project</p>
        <a class="btn btn-custom-primary" href="https://www.tudelft.nl/lr/delfi-space" target="_blank">About</a>
        <a class="btn btn-custom-primary" href="/grafana/d/sknvMScVz/latest-reception-times?orgId=1" target="_blank">Latest Receptions</a>
    </div>
  </div>

      <div class="card" style="width: 18rem; margin: 10px">
        <img src="https://d2k0ddhflgrk1i.cloudfront.net/_processed_/0/8/csm_Delfi-C3_0c2c5a8cde.webp" class="card-img-top"
        style = "max-width: 100%; max-height: 46.4%;" >
        <div class="card-body">

            <h5 class="card-title" style="color:Gray">Delfi-C3</h5>
            <p class="card-text"> Status: Operational </p>
            <a class="btn btn-custom-primary" href="https://www.tudelft.nl/lr/delfi-space/delfi-c3" target="_blank">About</a>
            <a class="btn btn-custom-primary" href="/grafana/d/_j9ikmi4z/delfic3" target="_blank">Dashboard</a>
        </div>
      </div>

      <div class="card" style="width: 18rem; margin: 10px">
        <img src="https://d2k0ddhflgrk1i.cloudfront.net/_processed_/2/e/csm_Delfi-n3Xt_f8c3d11d4d.webp" class="card-img-top"
        style = "max-width: 100%; max-height: 46.4%;" >
        <div class="card-body">

            <h5 class="card-title" style="color:Gray">Delfi-n3Xt</h5>
            <p class="card-text"> Status: Retired </p>
            <a class="btn btn-custom-primary" href="https://www.tudelft.nl/lr/delfi-space/delfi-n3xt" target="_blank">About</a>
            <button class="btn btn-custom-primary" disabled>Dashboard</button>

        </div>
      </div>

      <div class="card" style="width: 18rem; margin: 10px">
        <img src="https://www.delta.tudelft.nl/sites/default/files/images/delfiPQ%20satelliet.jpg" class="card-img-top"
        style = "max-width: 100%; max-height: 46.4%;" >
        <div class="card-body">

            <h5 class="card-title" style="color:Gray">Delfi-PQ</h5>
            <p class="card-text">Status: Operational</p>
            <a class="btn btn-custom-primary" href="https://www.tudelft.nl/lr/delfi-space/delfi-pq" target="_blank">About</a>
            <a class="btn btn-custom-primary" href="/grafana/d/_j9ikmi4z/delfipq" target="_blank">Dashboard</a>
        </div>
      </div>

      <div class="card" style="width: 18rem; margin: 10px">

        <img src="https://d2a3ux41sjxpco.cloudfront.net/carousel/file/project_photo/29562/normal_8e31396ce80e9ac783c4900792933c114ff3bed5.png" class="card-img-top"
        style = "max-width: 100%; max-height: 46.4%;">

        <div class="card-body">

            <h5 class="card-title" style="color:Gray">Da Vinci Satellite</h5>
            <p class="card-text"> Status: Under development</p>
            <a class="btn btn-custom-primary" href="https://davincisatellite.nl/?page_id=937&lang=en" target="_blank">About</a>
            <button class="btn btn-custom-primary" disabled>Dashboard</button>
        </div>
      </div>

        <div class="card" style="width: 450; margin: 10px">
            <iframe src="/grafana/d-solo/sknvMScVz/latest-reception-times?orgId=1&panelId=2" width="450" height="200" frameborder="0"></iframe>
        </div>

        <div class="card" style="width: 450; margin: 10px">
            <iframe src="/grafana/d-solo/sknvMScVz/latest-reception-times?orgId=1&panelId=5" width="450" height="200" frameborder="0"></iframe>
        </div>
    {% include 'home/map.html' %}
</div>
</div>
{% endblock %}
{% include 'home/footer.html' %}

</body>
</html>

<script src="{% static "cookieBar.min.js" %}"></script>
