{% extends "admin/base.html" %}
{% load i18n static %}

{% block nav-sidebar %}{% endblock %}

{% block content %}

<a href="{% url 'delfic3_home' %}"><input type="submit" value="Delfi-C3"></input></a>
<a href="{% url 'delfin3xt_home' %}"><input type="submit" value="Delfi-n3Xt"></input></a>
<a href="{% url 'delfipq_home' %}"><input type="submit" value="Delfi-PQ"></input></a>
<a href="{% url 'davinci_home' %}"><input type="submit" value="Da Vinci Satellite"></input></a>

<a href="{% url 'transmission_downlink' %}"><input type="submit" value="Downlink Frames"></input></a>
{% if perms.transmission.view_uplink %}
<a href="{% url 'transmission_uplink' %}"><input type="submit" value="Uplink Frames"></input></a>

{% endif %}
<br>
<br>

{% if user.is_authenticated %}
<a href="{% url 'profile' %}"><input type="submit" value="Profile"></input></a>
<a href="{% url 'logout' %}"><input type="submit" value="Logout"></input></a>
{% else %}
<a href="{% url 'login' %}"><input type="submit" value="Login"></input></a>
<a href="{% url 'register' %}"><input type="submit" value="Register"></input></a>
{% endif %}
{% endblock %}