APScheduler==3.10.4
asgiref==3.8.1
astroid==3.2.2
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
autopep8==2.3.1
certifi==2024.6.2
cffi==1.16.0
channels==4.1.0
charset-normalizer==3.3.2
constantly==23.10.4
coverage==7.5.4
cryptography==42.0.8
daphne==4.1.2
Django==5.0.6
django-bootstrap5==24.2
djecrety
django-filter==24.2
django-pandas==0.6.7
django-revproxy==0.12.0
django-tables2==2.7.0
django-axes==6.5.0
djangorestframework==3.15.2
djangorestframework-api-key==3.0.0
hyperlink==21.0.0
idna==3.7
incremental==22.10.0
influxdb-client==1.44.0
isort==5.13.2
jplephem==2.22
lazy-object-proxy==1.10.0
mccabe==0.7.0
msgpack==1.0.8
numpy==2.0.0
pandas==2.2.2
platformdirs==4.2.2
psycopg2==2.9.9
py4j==0.10.9.7
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycodestyle==2.12.0
pycparser==2.22
pycrowdsec==0.0.5
pylint==3.2.4
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
pyOpenSSL==24.1.0
requests==2.32.3
Rx==3.2.0
satellitetle==0.15.1
service-identity==24.1.0
sgp4==2.23
six==1.16.0
skyfield==1.49
sqlparse==0.5.0
toml==0.10.2
Twisted==24.3.0
txaio==23.1.1
typing-extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.2
uWSGI==2.0.26
wrapt==1.16.0
zope.interface==6.4.post2
