<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password Page</title>
</head>
<body>
    <h1>Change Password</h1>
    <form class="post-form" method="POST">
        {% csrf_token %}
               {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
    </div>
        {% endfor %}
        <input type="submit" value="Change Password">
    </form>
    <p> Enter a password containing a minimum of 8 characters, 1 upper and lower case letter, 1 number and 1 special character.</p>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}