<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password Page</title>
</head>
<body>
    <h1>Change Password</h1>
    <form class="post-form" method="POST">
        {% csrf_token %}
               {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
    </div>
        {% endfor %}
        <input type="submit" value="Change Password">
    </form>
    <ul>
        <li> Your new password cannot be too similar to your other personal information.</li>
        <li> Your new password must contain at least 8 characters.</li>
        <li> Your new password cannot be a commonly used password.</li>
        <li> Your new password cannot be entirely numeric.</li>
        </ul>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}