<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
    <h1>Register</h1>
    <form class="post-form" method="POST">
        {% csrf_token %}
          {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
    </div>
        {% endfor %}
        <input type="submit" value="Register">
    </form>
    <ul>
        <li> The username can be 150 characters or fewer. Letters, digits and @/./+/-/_ only.</li>
        <li> Your password cannot be too similar to your other personal information.</li>
        <li> Your password must contain at least 8 characters.</li>
        <li> Your password cannot be a commonly used password.</li>
        <li> Your password cannot be entirely numeric.</li>
    </ul>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h5>Do you already have an account?</h5>
    <button type="button"><a href="{% url 'login' %}">Login Existing Account</a></button>
</body>
</html>