<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Password Page</title>
</head>
<body>
    <h1>Set Password Page</h1>
    <form class="post-form" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Set Password">
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

<!--    <form action="/members/set/" method="post">-->
<!--        <label for="username">Username </label>-->
<!--        <input id="username" type="text" name="username" value="{{ current_username }}">-->
<!--        <input type="submit" value="OK">-->
<!--    </form>-->
<!--    <form action="/members/set/" method="post">-->
<!--        <label for="password">Password </label>-->
<!--        <input id="password" type="text" name="password" value="{{ current_password }}">-->
<!--        <input type="submit" value="OK">-->
<!--    </form>-->
<!--    <form action="/members/set/" method="post">-->
<!--        <label for="confirm_password">Password </label>-->
<!--        <input id="confirm_password" type="text" name="confirm_password" value="{{ current_confirm_password }}">-->
<!--        <input type="submit" value="OK">-->
<!--    </form>-->
</body>
</html>