{% load  static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}DelfiSpace - Account Settings{% endblock %}</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% include 'home/navbar.html' %}
{% include 'home/messages.html' %}
<body>


    <div class="container my-5">
        <h1 class="text-center mb-4">Account Settings</h1>

        <h1>🧑‍💻 {{ user.username }}</h1>
        <h2>✉️ {{ user.email }}</h2>

        <a class="btn btn-custom-primary mb-3" href="{% url 'change_email' %}">Update Email</a>

        {% if user.is_superuser %}
        <h2>Go to:</h2>
        <ul>
            <li><a href="/admin/">Django Admin</a></li>
            <li><a href="/dbmanager/">pgAdmin</a></li>
            <li><a href="/influxdb/">InfluxDB</a></li>
            <li><a href="/grafana/">Grafana</a></li>
            <li><a href="https://app.crowdsec.net/login">Crowdsec</a></li>
        </ul>
        {% endif %}

        <a class="btn btn-custom-primary mb-3" href="{% url 'get_new_key' %}">Generate an API key</a>

        <a class="btn btn-custom-primary mb-3" href="{% url 'change_password' %}">Change Password</a>

        {% if key %}
        <p>API KEY:</p>
        <pre>{{ key }}</pre>
        <p class="mb-4">Please save this key in a secure place. If lost, a new key needs to be generated.</p>
        {% endif %}

        <a class="btn btn-danger{% if not key %} mb-3{% endif %}" href="{% url 'delete_account' %}">Delete Account</a>
    </div>
    {% include 'home/footer.html' %}
</body>

</html>
