<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <form class="post-form" method="POST">
        {% csrf_token %}
        {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
    </div>
{% endfor %}
        <input type="submit" value="Login">
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<h5>You do not have an account?</h5>
    <button type="button"><a href="{% url 'register' %}">Register New Account</a></button>
</body>
</html>
