<!DOCTYPE html>
<html>
    <head>
        <title>Profile Page</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <h1>Welcome {{ user.username }}!</h1>
        {% endif %}
        <button type="button"><a href="{% url 'homepage' %}">Missions Dashboard</a></button>
        <br>
        <br>
        <button type="button"><a href="{% url 'change_password' %}">Change Password</a></button>
        <button type="button"><a href="{% url 'get_new_key' %}">Create an API key</a></button>
        <button type="button"><a href="{% url 'logout' %}">Logout</a></button>
        <br>
        {% if key is not null %}
        <p>API KEY:  {{ key }}</p>
        <p>Please save this key in a secure place, it will not be displayed on this page in the future.</p>
        <p>If lost, a new key needs to be generated.</p>
        {% endif %}

    </body>
</html>