{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}DelfiSpace - Frame Processing{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% include 'home/navbar.html' %}
{% include 'home/messages.html' %}

<body>

    <div class="container mt-5">
        <h2>Scheduler Status: {{ scheduler_status }}</h2>
        <br>

        <div class="row mb-3">
            {% if scheduler_status == "paused" %}
            <div class="col-md-4">
                <form action="{% url 'modify_scheduler' command='resume'%}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-block">Resume Scheduler</button>
                </form>
            </div>
            <div class="col-md-4">
                <form action="{% url 'modify_scheduler' command='shutdown'%}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-block">Shutdown Scheduler</button>
                </form>
            </div>
            <div class="col-md-4">
                <form action="{% url 'modify_scheduler' command='force_shutdown'%}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-block">Force Shutdown Scheduler</button>
                </form>
            </div>
            {% elif scheduler_status == "shutdown" %}
            <div class="col-md-12">
                <form action="{% url 'modify_scheduler' command='start'%}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-block">Start Scheduler</button>
                </form>
            </div>
            {% elif scheduler_status == "running" %}
            <div class="col-md-4">
                <form action="{% url 'modify_scheduler' command='pause'%}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning btn-block">Pause Scheduler</button>
                </form>
            </div>
            <div class="col-md-4">
                <form action="{% url 'modify_scheduler' command='shutdown'%}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-block">Shutdown Scheduler</button>
                </form>
            </div>
            <div class="col-md-4">
                <form action="{% url 'modify_scheduler' command='force_shutdown'%}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-block">Force Shutdown Scheduler</button>
                </form>
            </div>
            {% endif %}
        </div>

        <br>

        <form class="post-form" method="POST">
            {% csrf_token %}
            <div class="mb-3 row">
                {% for field in submit_job_form %}
                    <label for="{{ field.id_for_label }}" class="col-md-3 col-form-label">{{ field.label }}</label>
                    <div class="col-md-9">
                        {{ field }}
                        {% if field.errors %}
                            <div class="invalid-feedback d-block">
                                {{ field.errors|join:", " }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-custom-primary btn-block">Submit Job</button>
        </form>
        <br>
        <p>[1]: Satellite will only be considered for scraping and bucket processing jobs.</p>
        <p>[2]: Link will only be considered for bucket processing jobs.</p>

        <div class="job-list mt-4">
            <p>Running jobs:</p>
            {% for job in running_jobs %}
                <p> - {{ job }} </p>
            {% endfor %}

            <p>Pending jobs:</p>
            {% for job in pending_jobs %}
                <p> - {{ job }} </p>
            {% endfor %}
        </div>
    </div>
    {% include 'home/footer.html' %}
</body>

</html>
