{% load  static %}
{% load humanize %}
<!DOCTYPE html>
  <head>
  <title>{% block title %}DelfiSpace - Frames{% endblock %}</title>
  <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

</style>
</head>
{% include 'home/navbar.html' %}
{% include 'home/messages.html' %}
<body>
{% block content %}

<div class="container my-5">

    <h1 class="text-center mb-4">{{ table_name }} Frames</h1>

    {% if table_name == 'Downlink' and perms.transmission.delete_downlink %}
    <form action="{% url 'delete_processed_frames' link='downlink' %}" method="POST">
        {% csrf_token %}
        <div class="text-center mb-3">
            <button type="submit" class="btn btn-danger">Delete Processed Frames</button>
        </div>
    </form>
    {% elif table_name == 'Uplink' and perms.transmission.delete_uplink %}
    <form action="{% url 'delete_processed_frames' link='uplink' %}" method="POST">
        {% csrf_token %}
        <div class="text-center mb-3">
            <button type="submit" class="btn btn-danger">Delete Processed Frames</button>
        </div>
    </form>
    {% endif %}
</div>

    <form class="text-center" method="get">
        {{ telemetry_filter.form }}
        <button class="btn btn-custom-primary mb-3">Filter</button>
    </form>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>timestamp</th>
                    <th>radio_amateur</th>
                    <th>processed</th>
                    <th>invalid</th>
                    <th>app</th>
                    <th>frequency</th>
                    <th style="max-width: 1000px; word-wrap: break-word;">frame</th>
                </tr>
            </thead>
            <tbody>
                {% for frame in page_obj %}
                <tr>
                    <td>{{ frame.id }}</td>
                    <td>{{ frame.timestamp|date:"Y-m-d H:i:s.u" }}</td>
                    {% if table_name == "Downlink" %}
                    <td>{{ frame.observer }}</td>
                    {% endif %}
                    {% if table_name == "Uplink" %}
                    <td>{{ frame.operator }}</td>
                    {% endif %}
                    <td>{{ frame.processed }}</td>
                    <td>{{ frame.invalid }}</td>
                    <td>{{ frame.application }}</td>
                    <td>{{ frame.frequency }}</td>
                    <td style="max-width: 1000px; word-wrap: break-word; font-size: 12px;">{{ frame.frame }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container my-5">
    <div class="pagination mt-4 d-flex justify-content-center">
        {% load tags %}
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?{% url_replace request 'page' 1 %}" class="btn btn-secondary">&laquo; first</a>
            <a href="?{% url_replace request 'page' page_obj.previous_page_number %}" class="btn btn-secondary">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <a href="?{% url_replace request 'page' page_obj.next_page_number %}" class="btn btn-secondary">next</a>
            <a href="?{% url_replace request 'page' page_obj.paginator.num_pages %}" class="btn btn-secondary">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    </div>
    {% endblock %}
    {% include 'home/footer.html' %}
</body>
</html>
