{% extends "admin/base.html" %}
{% load i18n static %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'homepage' %}">{% translate 'Home' %}</a>
    &rsaquo; {% translate 'table_name' %}
</div>
{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
    <head>
        <title>{{table_name}}</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    </head>
    <body>
        <h1>{{table_name}} </h1>

        <form method="get">
        {{telemetry_filter.form}}

        <script>
            $( function() {
                $( "#datepicker" ).datepicker();
            } );
        </script>

        <input type="submit" value="Search"></input>

        </form>
        <table border="1" class="dataframe">
            <thead>
              <tr style="text-align: left;">

                <!-- <th>id</th> -->
                <th>valid_from</th>
                <th>satellite</th>
                <th>TLE</th>

              </tr>
            </thead>
            <tbody>
                <tr>
            {% for field in page_obj %}
            <td>{{ field.valid_from }}</td>
            <!-- <td>{{ field.valid_from|upper}}</td> USE |upper to view the timestamp in full-->
            <td>{{ field.sat}}</td>
            <td>{{ field.tle}}</td>
            </tr>
                {% endfor %}

            </tbody>
        </table>

        <div class="pagination">
            {% load tags %}
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% url_replace request 'page' 1 %}">&laquo; first</a>
                    <a href="?{% url_replace request 'page' page_obj.previous_page_number %}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% url_replace request 'page' page_obj.next_page_number %}">next</a>
                    <a href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <table id="table" border="1" class="dataframe">
          </table>

          {% endblock %}
