{% load i18n %}
{% autoescape off %}

Hello,

We received a request to reset the password for your DelfiTLM account (username: {{ user }}) for this email address. To initiate the password reset process for your account, click the link below:

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

This link can only be used once. If you need to reset your password again, please visit {{ protocol }}://{{domain}} and request another reset.

If you did not make this request, you can simply ignore this email.

Best regards,

The Delfi Space Team

{% endautoescape %}
