{% extends "admin/base.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'homepage' %}">{% translate 'Home' %}</a>
    &rsaquo; {% translate 'Register' %}
</div>
{% endblock %}
{% block nav-sidebar %}{% endblock %}

{% block content %}
<body>
    <h1>Register</h1>
    <form class="post-form" method="POST">{% csrf_token %}
        <fieldset class="module aligned wide">
        {% for field in form %}
            <div class="form-row">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Register">
    </fieldset>
    </form>
    <ul>
        <li> The username can be 150 characters or fewer. Letters, digits and @/./+/-/_ only.</li>
        <li> Your password cannot be too similar to your other personal information.</li>
        <li> Your password must contain at least 8 characters.</li>
        <li> Your password cannot be a commonly used password.</li>
        <li> Your password cannot be entirely numeric.</li>
    </ul>
    <!-- {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul> -->
    {% endif %}
    <h5>Already have an account?</h5>
    <a href="{% url 'login' %}"><input type="submit" value="Login"></input></a>

{% endblock %}
