{% extends "admin/base.html" %}
{% block title %}DelfiSpace - Registration{% endblock %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'homepage' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Resend Verification Email' %}
</div>
{% endblock %}

{% block content %}

<p>{% translate "Didn't receive the verification email? Enter your email address below, and we'll send a new one." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned wide">
        {% for field in form %}
            <div class="form-row">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
</fieldset>
<input type="submit" value="{% translate 'Resend verification email' %}">
</form>

{% endblock %}
