<!DOCTYPE html>
<html>
    <head>
        <title>Downlink frames</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <h1>Downlink Frames</h1>

        <table id="table" border="1" class="dataframe">
          </table>

          <button id="load" onclick="loadMore()">Load More Frames</button>

          <script>

            let table = document.getElementById('table')
            let pointer = 0
            let headerVisible = false
            document.getElementById("load").onclick = function() {loadMore()};

            function loadMore() {
              handleGetData();
            }
            const handleGetData = () => {
                $.ajax({
                    type: 'GET',
                    url: `/ewilgs/downlink/table/${pointer}/`,
                    success: function(response){
                        maxSize = response.size
                        const data = response.data
                        if(!headerVisible){
                            addHeader(data[0]);
                            headerVisible = true;
                        }

                        for(var i=0; i<maxSize; i++){
                            addRow(data[i]);
                            pointer++;
                        }
                    },
                    error: function(error){
                        console.log(error)
                    }
                })
            }

            function addRow(frame) {
                let row = table.insertRow(table.rows.length);
                let columnIndex = 1;
                let cell = row.insertCell(0);
                cell.innerHTML = table.rows.length-1;
                for (let key in frame){
                    let cell = row.insertCell(columnIndex);
                    columnIndex++;
                    cell.innerHTML = frame[key];
                }

            }
            function addHeader(frame) {
                let row = table.insertRow(table.rows.length);
                let columnIndex = 1;
                let cell = row.insertCell(0);
                cell.innerHTML = table.rows.length-1;
                for (let key in frame){
                    let cell = row.insertCell(columnIndex);
                    columnIndex++;
                    cell.innerHTML = key;
                }

            }
            </script>
</html>

